body {
    margin: 0;
}

.page {
    background-attachment: fixed;
    background-image: linear-gradient( rgba(0, 192, 211, 0.63), rgba(255, 255, 255, 0.63), rgba(222, 97, 255, 0.63) ), url('/w-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    height: 100%;
    padding: 1em;
    width: 15em;
    text-align: left;
    background-color: rgba(170, 170, 170, 0.9);
}

.sidebar_wrapper {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.sidebar_search input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
