@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:300,400,700|Raleway:100,200,300,400,500,600,700,800,900|Trykker|PT+Serif:400,700|Heebo:100,300,400,500,700,800,900');
body {
    margin: 0;
    background-attachment: fixed;
    background-image: linear-gradient( rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url('https://booligoosh.github.io/w-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.data,
#data {
    display: none;
}

.page {
    width: auto;
    height: 100%;
    font-family: 'PT Serif', serif;
}

.header {
    padding-left: 12.5em;
    padding-right: 12.5em
}

.header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 7.65em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#disqus_thread {
    padding-left: 12.5em;
    padding-right: 12.5em
}

.post {
    padding-top: 0;
    padding-bottom: 5em;
    padding-left: 12.5em;
    padding-right: 12.5em
}

.post p {
    font-size: 1.2em;
}

.post h1 {
    font-family: 'Heebo', sans-serif;
}

.sidebar {
    padding: 1em;
    width: 15em;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
}

.sidebar_wrapper {
    position: fixed;
    right: 0;
    top: /*13.37em*/
    0;
    bottom: 0;
    height: 100%;
    background-color: /*#eee*/
    none;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.sidebar_search input[type=text] {
    width: /*130px*/
    100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /*-webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;*/
}


/* When the input field gets focus, change its width to 100% */

input[type=text]:focus {
    width: 100%;
}

.posts li {
    list-style: none;
    text-align: right;
}
